<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Job List')">
    <meta charset="UTF-8"/>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="text-center">
<div class="container">
    <h1>Current Job Postings</h1>


    <div th:each="job : ${jobs}">
        <div th:include="partials/job-map :: google-maps"></div>

        <section id="viewAllJobsLoop" class="container-fluid">

            <div style="display:flex">
            <div style="flex:1"><img class="listPictureJobsPage" th:src="${job.rest.picture}" alt="" /></div>

            <div style="flex:1">
                <h3><span th:text="${job.title}"></span> at <span th:text="${job.rest.name}"></span></h3>
                <h4 th:text="${job.rest.city + ', ' + job.rest.state}"></h4>
            </div>

            <div class="viewJobButtonAllJobs">
                <a th:href="@{/job/{id}(id=${job.id})}">
                <button class="btn btn-default">View Job</button>
            </a>
            </div>
            </div>

        </section>

        <br />
    </div>

</div>
</div>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>