<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Job List')">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<form th:action="@{/job_post/create}" method="POST" th:object="${}">

    <label for="email">Email</label>
    <input class="form-control" id="email" th:field="*{email}" />

    <label for="password">Password</label>
    <input class="form-control" id="password" type="password" th:field="*{password}" />

    <label for="isOwner">I own a restaurant</label>
    <input id="isOwner" name="isOwner" type="checkbox" />

    <button class="btn btn-primary form-control">Sign Up</button>
</form>
</div>







<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>