<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Job Post')">
    <meta charset="UTF-8"/>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>


<div class="container viewJobPage">
    <div class="row">
        <div class="col-sm-8 job-view">
            <img class="rest-profile-pic" th:src="${job.rest.picture}" alt="" />
                <h1> <span th:text="${job.title}"></span></h1>
                <h3 class="istok"><span th:text="${job.rest.name}"></span></h3>
                <h3 class="istok"> <span th:text="${job.rest.city + ', ' + job.rest.state}"></span></h3>
                <h4 th:if="${hasPay}" class="istok">Pay: <span th:text="${job.pay}"></span></h4>
                <h4 class="istok"> <span th:text="${job.description}"></span></h4>
            <!--<h4><a class="istok" th:href="'mailto:' + ${job.rest.user.email + '?Subject=Interested in the ' + job.title} + ' position'"><button class="btn btn-warning"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Contact</button></a></h4>-->


            <button th:if="!${ownsJob}" class="btn btn-warning istok" data-toggle="modal" data-target="#contact-modal">Apply</button>

            <div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content modal-content-border">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 style="color:black;">Apply</h4>
                        </div>

                        <div class="modal-body-form">
                            <form th:action="'https://formspree.io/'+${job.user.email}" method="POST">


                                <div class="form-group">
                                <input class="form-control" id="email" type="hidden" name="email" th:value="${user.email}" />
                                </div>

                                <div class="form-group">
                                    <label for="_subject">Subject</label>
                                    <input id="_subject" class="istok form-control" style="color:black;" name="_subject" th:value="'Interested in the ' + ${job.title + ' position at ' + job.rest.name}" />
                                </div>

                                <div class="form-group">
                                    <label class="istok" style="color:black;" for="body">Your message</label>
                                <textarea style="color:black" class="istok form-control" id="body" name="body" placeholder="Your message"></textarea>
                                </div>

                                <div class="form-group">
                                <button class="istok btn btn-primary form-control" type="submit">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>




            <a th:href="@{/restaurant/{id}(id=${job.rest.id})}">
                    <button class="btn btn-success istok">More from <span th:text="${job.rest.name}"></span></button>
                </a>
            <a th:if="${ownsJob}" th:href="@{/job/{id}/edit(id=${job.id})}">
                <button class="btn btn-warning istok">Edit Job</button>
            </a>
        </div>
        <div class="col-sm-4" th:replace="partials/job-map :: google-maps"></div>
    </div>
</div>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>