<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Chef Profile')">
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="container">
    <div th:each="rest : ${restaurants}">
        <h3><span th:text="${rest.rest_name}"></span> </h3>
        <h5><span th:text="${rest.location}"></span></h5>
        <a th:href="@{/restaurant/{id}(id=${rest.id})}">
            <button class="btn btn-default">View profile</button>
        </a>
        <hr />
    </div>
</div>
</body>
</html>