<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('View All Restaurants')">
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

<nav th:replace="partials/navbar :: navbar"></nav>
<div class="text-center">
    <div style="margin-left: 10%; float: start" class="container">
        <h1>Viewing All Restaurants</h1>

        <section class="row" style="text-align: center;" >
            <div th:each="rest : ${restaurants}">

                <div class="column col-lg-3" style="background: antiquewhite; margin: 5px; padding:10px; border-radius: 5px;">

                    <div>
                        <div>
                            <img class="listPicture" th:src="${rest.picture}" alt="" />

                        </div>
                        <div>
                            <h3><span th:text="${rest.name}"></span> </h3>
                            <h4><span th:text="${rest.city}"></span>, <span th:text="${rest.state}"></span></h4>
                        </div>

                        <div class="viewJobButtonAllJobs">
                            <a th:href="@{/restaurant/{id}(id=${rest.id})}">
                                <button style="background-color: #DE9E36" class="btn btn-default">View Job</button>
                            </a>
                        </div>
                    </div>

                    <section class="input">
                        <input type="hidden" id="address" name="address" th:value="${rest.street + ' ' + rest.city + ' ' + rest.state } " />
                    </section>

                    <div style="width: 100%" th:include="partials/job-map :: google-maps"></div>

                    <div th:id="job-map-canvas"></div>

                </div>

            </div>

            <br />
        </section>

    </div>
</div>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>







=