<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('View All Restaurants')">
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<section class="viewAllBody">
    <div style="display: flex" class="container"><img class="OmLogo viewAllLogo" src="css/img/OmLogo.png" alt="omelete Logo" /><h1 style="color:white;" class="viewAllTitle"> Viewing All Restaurants</h1></div>
<div class="text-center">
    <div class="container">
        <section class="rowAll" style="text-align: center;">

            <div th:each="rest : ${restaurants}">

                <div class="column col-md-3 view-all-view" id="viewAllTiles">

                    <div>
                        <div>
                            <img class="listPictureProfileChef" th:src="${rest.picture}" alt="" />

                        </div>
                        <div>
                            <h3><span th:text="${rest.name}"></span> </h3>
                            <h4 class="istok"><span th:text="${rest.city}"></span>, <span th:text="${rest.state}"></span></h4>
                        </div>
                            <a th:href="@{/restaurant/{id}(id=${rest.id})}">
                                <button class="istok btn btn-success">View Restaurant</button>
                            </a>
                    </div>

                    <section class="input">
                        <input type="hidden" id="address" name="address" th:value="${rest.street + ' ' + rest.city + ' ' + rest.state } " />
                    </section>
                </div>
            </div>
            <br />
        </section>

    </div>
</div>
</section>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>
