<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Restaurant Profile')">
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="text-center container">

<h1> <span th:text="${rest.name}"></span></h1>
<h4><span class="glyphicon glyphicon-earphone" aria-hidden="true"> </span>
    <span th:text="${rest.phone}"></span></h4>
    <h4> <span th:text="${rest.street}"></span></h4>
    <h4><span th:text="${rest.city + ', ' + rest.state + ' ' + rest.zip}"></span></h4>
<p><span th:text="${rest.about}"></span></p>
    <div th:replace="partials/google-maps-api :: google-maps"></div>


    <hr />

</div>
<h1 class="text-center">Current Job Listings for <span th:text="${rest.name}"></span></h1>
<div class="text-center">
<div th:each="job : ${jobs}">

    <h3><span th:text="${job.title}"></span></h3>
    <a th:href="@{/job/{id}(id=${job.id})}">
        <button class="btn btn-default">View Job</button>
    </a>
    <hr />
</div>
</div>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>