<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Restaurant Profile')">
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>



<div class="container">
    <div class="row">
        <div class="col-sm-8 rest-profile-name">
            <img class="rest-profile-pic" th:src="${rest.picture}" />
            <div class="display-flow-root">
            <h1 th:text="${rest.name}"></h1>
            <h3 class="istok" th:text="${rest.about}"></h3>
            <a th:if="!${restOwns}" class="" th:href="'mailto:' + ${rest.user.email} + '?Subject=Interest Via Omelette'"><button class="btn btn-warning istok"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Contact</button></a>
                <a th:if="${restOwns}" href="/profile"><button class="btn btn-warning istok">Edit profile</button></a>

                <h4><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> <span class="istok" th:text="${rest.phone}"></span></h4>
            <p class="address istok" th:text="${rest.street}"></p>
            <p class="istok" th:text="${rest.city + ', ' + rest.state + ' ' + rest.zip}"></p>
            </div>
        </div>
        <div class="col-sm-4" th:replace="partials/google-maps-api :: google-maps"></div>
    </div>
</div>

<br />

<div class="container">
    <div class="row">
        <div class="job-container">
            <div class="rest-jobs-view text-center" th:each="job : ${jobs}">
                <h1 th:text="${job.title}"></h1>
                    <a th:href="@{/job/{id}(id=${job.id})}">
                    <button class="btn btn-success istok">View More Info</button>
                </a>
            </div>
        </div>
    </div>
</div>


<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>