@import url('https://fonts.googleapis.com/css?family=Pacifico|Montserrat');
@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url("https://fonts.googleapis.com/css?family=Archivo+Black|Istok+Web");



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Istok Web', sans-serif;
    background:#00A7E1;
}


li{
    color: white;
}

.textBody{
    width: 60%;
    margin-left: 20%;
}

.jumbotron {
    background-color: #EBF5DF;
    background-size: cover;
}



.jobPost{
    padding: 25px;
    width: 50%;
    margin: 0 auto;
}

#upload{
    display: none;
}

.jumbotron{
    background-color: rgba(255,255,255,.6);
}

.OmLogo{
    margin-bottom: 15px;
    opacity:0.8;
}

.profilePicture{
    width: 25%;
    border-radius:50%;
}

.profileVideo{
    width: 80%;
}

.hiddenUrl{
    display: none;
}

.listPicture{
    width: 20%;
    border-radius:50%;
    margin: 0 auto;
    display: block;
}


.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: rgba(0,0,0,.2);
    text-align: center;
}


.goog-te-gadget-simple {
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
}

#google_translate_element {
    border-radius: 20px;
}

/* Small devices (tablets, 768px and up) */
@media screen and (min-width:768px) {

}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width:992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) {

}