@import url('https://fonts.googleapis.com/css?family=Pacifico|Montserrat');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "PT Mono";
    background-color: lightsteelblue;
}

.textBody{
    width: 60%;
    margin-left: 20%;
}

/*body{*/
    /*margin-bottom: 25px;*/
    /*background: #141E30;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to right, #243B55, #141E30);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to right, #243B55, #141E30); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
    /*color: rgba(255,255,255,.9);*/
/*}*/


.jobPost{
    border: 1px solid white;
    border-radius:5px;
    padding: 25px;
    width: 50%;
    margin: 0 auto;
}

#upload{
    display: none;
}

.profilePicture{
    width: 25%;
    border-radius:50%;
}

.profileVideo{
    width: 80%;
}

.hiddenUrl{
    display: none;
}

.listPicture{
    width: 20%;
    border-radius:50%;
    margin: 0 auto;
    display: block;
}


/*.footer {*/
    /*position: fixed;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*padding: 1rem;*/
    /*background-color: rgba(0,0,0,.2);*/
    /*text-align: center;*/
/*}*/


.goog-te-gadget-simple {
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
}

#google_translate_element {
    border-radius: 20px;
}

/* Small devices (tablets, 768px and up) */
@media screen and (max-width:768px) {
    .navbar-toggle {
        display: inline-block;
    }
}


/* Medium devices (desktops, 992px and up) */
@media screen and (max-width:992px) {
    .navbar-toggle {
        display: inline-block;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) {

}