<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Restaurant Profile')">
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>


<h1>Profile for <span th:text="${rest.rest_name}"></span></h1>
<h3>Phone: <span th:text="${rest.phone}"></span></h3>
<h3>Located at: <span th:text="${rest.location}"></span></h3>
<h3><span th:text="${rest.about}"></span></h3>
<div th:replace="partials/google-maps-api :: google-maps"></div>



<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>