<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Restaurant Profile')">
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="text-center container">
<!--<img th:src="${rest.getPicture()}" alt="chuys profile picture" />-->
<h1>Profile for <span th:text="${rest.name}"></span></h1>
<h3>P: <span th:text="${rest.phone}"></span></h3>
<h5><span th:text="${rest.street}"></span></h5>
    <h5><span th:text="${rest.city}"></span>, <span th:text="${rest.state}"></span></h5>
    <h5><span th:text="${rest.zip}"></span></h5>
<h3><span th:text="${rest.about}"></span></h3>
<div th:replace="partials/google-maps-api :: google-maps"></div>
</div>
<div class="text-center">
<div th:each="job : ${jobs}">

    <h3><span th:text="${job.title}"></span></h3>
    <a th:href="@{/job/{id}/edit(id=${job.id})}">
        <button class="form-control btn btn-default"> View/Edit </button>
    </a>
    <hr />

</div>
</div>


<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>