<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Profile')">
    <meta charset="UTF-8" />
    <title> </title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>


<div class="container">

    <h1 class="text-center">Basic Information</h1>
    <form th:action="@{/newchef/picture}" th:method="post" th:object="${chef}">

        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{user}"/>
        <input type="hidden" th:field="*{first_name}"/>
        <input type="hidden" th:field="*{last_name}"/>
        <input type="hidden" th:field="*{bio}"/>
        <input type="hidden" th:field="*{phone}"/>

<h1>Add a profile picture</h1>

        <br />

        <div th:replace="partials/filestack-api :: filestack-pic"></div>

        <br />


        <button class="btn btn-primary form-control">Save</button>

    </form>

    <footer th:replace="partials/footer :: footer"></footer>
</div>







</body>
</html>