<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Create Chef's Profile </title>
</head>
<body>
<!--<header>-->
<!--<div class="header-content">-->
<!--<div class="header-content-inner">-->
<!--&lt;!&ndash;TODO: MAKE SURE THIS PART IS CORRECT. SYNTAX FOR EL EXPRESSIONS TO PULL AND INSERT PROFILE PICTURE &ndash;&gt;-->
<!--<div class="form-group">-->
<!--<label for="chef_profile">Insert Profile Picture</label>-->
<!--<input id="chef_profile" class="form-control" placeholder="Profile Picture" type="file" th:field="*{picture}" th:value="*{picture}" />-->
<!--</div>-->
<!--<hr />-->
<!--<div class="form-group">-->
<!--<label for="chef_profile">First Name</label>-->
<!--<input id="chef_profile" class="form-control" placeholder="First Name" type="text" th:field="*{first_name}" th:value="*{first_name}" />-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="chef_profile">Last Name</label>-->
<!--<input id="chef_profile" class="form-control" placeholder="Last Name" type="text" th:field="*{last_name}" th:value="*{last_name}" />-->
<!--</div>-->
<!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;<label for="chef_profile">Phone Number</label>&ndash;&gt;-->
<!--&lt;!&ndash;<input id="chef_profile" class="form-control" placeholder="Phone Number" type="text" th:field="*{chef_profile.phone_number}" th:value="*{chef_profile.phone_number}" />&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div class="form-group">-->
<!--<label for="chef_profile">About Me</label>-->
<!--<input id="chef_profile" class="form-control" placeholder="About Me" type="text" th:field="*{bio}" th:value="*{bio}" />-->
<!--</div>-->

<!--<hr />-->
<!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;TODO: build and add education table to db&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;<label for="education">Education (If Applicable)</label>&ndash;&gt;-->
<!--&lt;!&ndash;<input id="education" class="form-control" placeholder="Name" type="text" th:field="*{education.schoolname}" th:value="*{education.schoolname}" />&ndash;&gt;-->
<!--&lt;!&ndash;<input id="education" class="form-control" placeholder="Graduation Date" type="text" th:field="*{education.graddate}" th:value="*{education.graddate}" />&ndash;&gt;-->
<!--&lt;!&ndash;<input id="education" class="form-control" placeholder="Focus of Study" type="text" th:field="*{education.focus}" th:value="*{education.focus}" />&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<hr />-->
<!--<div class="form-group">-->
<!--<label for="job_history">Job History(If Applicable)</label>-->
<!--<input id="job_history" class="form-control" placeholder="Name" type="text" th:field="*{location}" th:value="*{location}" />-->
<!--<input id="job_history" class="form-control" placeholder="Start Date" type="text" th:field="*{start_date}" th:value="*{start_date}" />-->
<!--<input id="job_history" class="form-control" placeholder="End Date" type="text" th:field="*{end_date}" th:value="*{end_date}" />-->
<!--<input id="job_history" class="form-control" placeholder="Title" type="text" th:field="*{title}" th:value="*{title}" />-->
<!--<input id="job_history" class="form-control" placeholder="Reason For Leaving (Not Necessary)" type="text" th:field="*{reason_left}" th:value="*{reason_left}" />-->

<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="chef_profile">Add Video</label>-->
<!--<input id="chef_profile" class="form-control" placeholder="Add Video" type="file" th:field="*{video}" th:value="*{video}" />-->
<!--</div>-->


<!--</div>-->
<!--</div>-->
<!--</header>-->

<h1>new Chef Profile</h1>
</body>
</html>