<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Profile')">
    <meta charset="UTF-8" />
    <title> </title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>


<div class="container">

    <h1 class="text-center">Basic Information</h1>
    <form th:action="@{/newuser/newchefprofile}" th:method="post" th:object="${chef}">




        <label for="firstName">First Name</label>
        <input id="firstName" class="form-control" placeholder="First Name" type="text" th:field="*{firstName}" />

        <br />
        <label for="last_name">Last Name</label>
        <input id="last_name" class="form-control" placeholder="Last Name" type="text" th:field="*{last_name}" />

        <br />

        <label for="phone">Phone Number</label>
        <input id="phone" class="form-control" placeholder="Phone Number" type="text" th:field="*{phone}" />

        <br />

        <label for="bio">About Me</label>
        <input id="bio" class="form-control" placeholder="About Me" type="text" th:field="*{bio}" />

        <br />

        <button class="btn btn-primary form-control">Save</button>

    </form>


<footer th:replace="partials/footer :: footer"></footer>
</div>







</body>
</html>