<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Profile')">
    <meta charset="UTF-8" />
    <title> </title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="text-center">
<form th:action="@{/video}" method="post" th:object="${chef}">

    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{user}"/>
    <input type="hidden" th:field="*{first_name}"/>
    <input type="hidden" th:field="*{last_name}"/>
    <input type="hidden" th:field="*{bio}"/>
    <input type="hidden" th:field="*{phone}"/>
    <input type="hidden" th:field="*{picture}"/>





    <div th:replace="partials/filestack-api :: filestack-video"></div>
    <br />
    <button class="btn btn-success form-control">Save</button>
</form>
</div>

</body>
</html>