<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Job Skills')">
    <meta charset="UTF-8" />
    <title> </title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="container">
    <h1 class="text-center">Skills</h1>
    <form th:action="@{/newuser/skills}" th:method="post" th:object="${skill}">

        <label for="skill">Skill</label>
        <input id="skill" class="form-control" type="text" placeholder="add a skill" th:field="*{name}" />

        <br />

        <button class="btn btn-primary form-control">Save or add another</button>
    </form>

    <br />
    <a href="/profile"><button class="btn btn-success form-control"> Continue to profile</button></a>
</div>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>