<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/header :: header">

</head>
<body>


<nav th:fragment="navbar" class="navbar navbar-default navbar-inner">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a style="color:white;" sec:authorize="!isAuthenticated()" class="navbar-brand hvr-grow" href="/">Omelette</a>
            <a style="color:white;" sec:authorize="isAuthenticated()" class="navbar-brand hvr-grow" href="/loggedin">Omelette</a>

        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">


                <li><a class="hvr-grow navLink" style="color:white;" sec:authorize="isAuthenticated()" href="/createprofile">My Profile</a></li>
                <li><a class="hvr-grow navLink"  style="color:white;" sec:authorize="isAuthenticated()" href="/all">View Jobs</a></li>
                <li><a class="hvr-grow navLink"  style="color:white;" sec:authorize="isAuthenticated()" href="/chefs">View Chefs</a></li>
                <li><a class="hvr-grow" style="color:white;" sec:authorize="isAuthenticated()" href="/restaurants">View Restaurants</a></li>
                <li class="hvr-grow" th:if="${isOwner}"><a style="color:white;cursor: pointer" sec:authorize="isAuthenticated()" data-toggle="modal" data-target="#post-job-modal">Post a Job</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li><button sec:authorize="!isAuthenticated()" type="button" class="hvr-grow btn login-button" data-toggle="modal" data-target="#login-modal">Login</button></li>
                <form class="navbar-form navbar-left" sec:authorize="isAuthenticated()" th:action="@{'/search'}" th:method="GET">
                    <div class="form-group">
                        <input name="search" type="text" class="form-control" id="search" placeholder="Search" />
                    </div>
                    <button class="btn btn-default" type="submit"><i class="black fa fa-search"></i></button>
                </form>

                <form class="navbar-form navbar-right" sec:authorize="isAuthenticated()" th:action="@{/logout}" th:method="get">
                    <button class="btn btn-danger">Logout</button>
                </form>
            </ul>
        </div><!-- /.navbar-collapse -->

        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal-content-border">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4><span class="glyphicon glyphicon-lock"></span>Login</h4>
                    </div>
                    <div class="modal-body-form">
                        <form th:action="@{/login}" th:method="post">
                            <div class="form-group">
                                <label for="username">Email</label>
                                <input class="form-control" id="username" name="username" type="text" />
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input class="form-control" id="password" name="password" type="password" />
                            </div>

                            <button type="submit" class="btn btn-primary form-control modal-login-button">Login</button>


                            <br />
                            <div class="modal-footer">
                                <div th:if="${param.error}" class="login-error">
                                    <h4><code>Incorrect Username and Password.</code></h4>
                                </div>
                                <div th:if="${param.logout}" class="login-error">
                                    <h4><code>You have been logged out.</code></h4>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="post-job-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal-content-border">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4><span class="glyphicon glyphicon-lock"></span>Post a job</h4>
                    </div>
                    <div class="modal-body-form">
                        <form th:action="@{/jobs/create}" method="POST" th:object="${newJob}">

                            <div class="form-group">
                                <label for="title">Title (100 char maximum)</label>
                                <input class="form-control" id="title" th:field="*{title}" />
                            </div>

                            <div class="form-group">
                                <label for="description">Description (300 char maximum)</label>
                                <input class="form-control" id="description" th:field="*{description}" />
                            </div>

                            <div class="form-group">
                                <label for="description">Pay (optional)</label>
                                <input class="form-control" id="pay" th:field="*{pay}" />
                            </div>

                            <button type="submit" class="btn btn-primary form-control modal-login-button">Post</button>

                            <br />
                            <div class="modal-footer">
                                <div th:if="${param.error}" class="login-error">
                                    <h4><code>Incorrect Username and Password.</code></h4>
                                </div>
                                <div th:if="${param.logout}" class="login-error">
                                    <h4><code>You have been logged out.</code></h4>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>




















    </div><!-- /.container-fluid -->
</nav>

</body>
</html>