<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

</head>
<body>

<nav th:fragment="navbar" class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <h1 class="">Omelette is a matchmaking service for the restaurant industry</h1>
            <h4><a class="btn btn-success" href="/">See all Job Postings</a></h4>
            <h4><a class="btn btn-success" href="/">Create a Job Post</a></h4>
            <h4 sec:authorize="!isAuthenticated()"><a class="btn btn-success" href="/">Login</a></h4>
            <h4 sec:authorize="!isAuthenticated()"><a class="btn btn-success" href="/">Sign Up!</a></h4>
            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" th:method="post">
                <button class="btn btn-success">Logout</button>
            </form>
        </div>
    </div><!-- /.navbar-collapse -->
</nav>

</body>
</html>