<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Search Results')">
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body id="search">
<nav th:replace="partials/navbar :: navbar"></nav>

    <div class=" text-center container">
                            <h1>Results</h1>
                        <div class="chefPost" th:each="result : ${results}">
                            <a th:href="@{/chefs/{id}(id=${result.id})}">
                                <img class="listPicture" th:src="${result.picture}" alt="" />

                            <h4 th:text="${result.firstName + ' ' + result.lastName}"></h4>
                            </a>
                        </div>
            </div>

</body>
</html>