<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Search Results')">
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body id="search">

    <div class="container">\
            <nav class="master-nav" th:include="partials/navbar :: navbar"></nav>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-filter">
                            <h1>Results</h1>
                        </div>
                        <div class="chefPost" th:each="result : ${results}">
                            <a th:href="@{/chefs/{id}(id=${result.id})}">

                                <button class="btn btn-default"><span th:text="${result.firstName}"></span></button>
                            </a>

                        </div>
                        <br />
                    </div>
                </div>
            </div>
    </div>
</body>
</html>