<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Login')"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="container">
<h1 class="text-center">Log In</h1>

<form th:action="@{/login}" method="post">

    <label for="username">Email</label>
    <input class="form-control" id="username" name="username" type="text" />

    <br />
    <label for="password">Password</label>
    <input class="form-control" id="password" name="password" type="password" />

    <br />
    <br />

    <button class="btn btn-primary form-control">Login</button>

    <div th:if="${param.error}">
        <h3><code>Incorrect Username and Password.</code></h3>
    </div>
    <div th:if="${param.logout}">
        <h3><code>You have been logged out.</code></h3>
    </div>

</form>
</div>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>