<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Home')">

</head>
<body>

<nav th:replace="partials/navbar :: navbar"></nav>

<div class="container">

    <h1 class="text-center">Sign up and get started</h1>

<a href="/chef/signup"><button class="btn btn-primary ">Create a Chef Profile</button></a>

    <br />
    <br />

<a href="/rest/signup"><button class="btn btn-success ">Create a Restaurant Profile</button></a>

</div>


</body>
</html>