<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Home')">

</head>
<body>

<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container">
    <h1 class="text-center">Create an account</h1>

    <form th:action="@{/rest/signup}" method="POST" th:object="${user}">

        <label for="email">Email</label>
        <input class="form-control" id="email" th:field="*{email}" />
        <p><code class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></code></p>
        <br />

        <label for="password">Password</label>
        <input class="form-control" id="password" type="password" th:field="*{password}" />
        <p><code class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></code></p>
        <br />

        <button class="btn btn-primary form-control">Sign Up</button>
    </form>
</div>

<footer th:replace="partials/footer :: footer"></footer>

</body>
</html>