<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Profile')">
    <meta charset="UTF-8" />
    <title> </title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>


<div class="container">

    <form th:action="@{/newchef/picture}" th:method="post" th:object="${chef}">

        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{user}"/>
        <input type="hidden" th:field="*{firstName}"/>
        <input type="hidden" th:field="*{lastName}"/>
        <input type="hidden" th:field="*{bio}"/>
        <input type="hidden" th:field="*{phone}"/>
        <input type="hidden" th:field="*{picture}"/>
        <input type="hidden" th:field="*{video}"/>

        <h1 class="text-center">Edit profile picture</h1>

        <br />

        <div th:replace="partials/filestack-api :: filestack-pic"></div>

        <br />


        <button class="btn btn-primary form-control">save profile picture</button>

    </form>

    <footer th:replace="partials/footer :: footer"></footer>
</div>







</body>
</html>