<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('History')">
    <meta charset="UTF-8" />
    <title> </title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>


<div class="container">
    <h1 class="text-center">Education</h1>

    <form th:action="@{/edit/education}" th:method="post" th:object="${edu}">

        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{user}" />

        <label for="school">School Name</label>
        <input id="school" class="form-control" placeholder="School name" type="text" th:field="*{name}" />

        <br />

        <label for="focus">Area of Focus</label>
        <input id="focus" class="form-control" placeholder="area of focus" type="text" th:field="*{focus}" />

        <br />

        <label for="grad_date">Graduation Date</label>
        <input id="grad_date" class="form-control" type="date" th:field="*{graduationDate}" />

        <br />

        <button class="btn btn-primary form-control">Save changes</button>
    </form>

    <br />
    <a th:href="@{/delete/education/{id}(id=${edu.id})}">
        <button class="form-control btn btn-danger">Delete section</button>
    </a>

    <br />


</div>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>