<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('History')">
    <meta charset="UTF-8" />
    <title> </title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>


<div class="container">
    <h1 class="text-center">Job History</h1>
    <form th:action="@{/edit/history}" th:method="post" th:object="${job}">

        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{user}" />

        <label for="title">Title</label>
        <input id="title" class="form-control" placeholder="Title held" type="text" th:field="*{title}" />

        <br />

        <label for="location">Location</label>
        <input id="location" class="form-control" placeholder="Location" type="text" th:field="*{location}" />

        <br />

        <label for="start_date">Start Date</label>
        <input id="start_date" class="form-control" type="date" th:field="*{start_date}" />

        <br />

        <label for="end_date">End Date</label>
        <input id="end_date" class="form-control" type="date" th:field="*{end_date}" />

        <br />

        <label for="reason_left">Reason for leaving:</label>
        <input id="reason_left" class="form-control" type="text" th:field="*{reason_left}" />

        <br />

        <button class="btn btn-primary form-control">Save changes</button>
    </form>

    <a th:href="@{/delete/jobhistory/{id}(id=${job.id})}">
        <button class="form-control btn btn-danger">Delete job</button>
    </a>

    <br />


</div>



<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>