<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Job Skills')">
    <meta charset="UTF-8" />
    <title> </title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="container">
    <h1 class="text-center">Skills</h1>
    <form th:action="@{/edit/skill}" th:method="post" th:object="${skill}">

        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{user}" />


        <label for="skill">Skill</label>
        <input id="skill" class="form-control" type="text" placeholder="add a skill" th:field="*{name}" />

        <br />

        <button class="btn btn-primary form-control">Save Changes</button>
    </form>

    <br />
    <a th:href="@{/delete/skill/{id}(id=${skill.id})}">
        <button class="form-control btn btn-danger">Delete skill</button>
    </a>

    <br />
</div>


<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>