<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('About Us')">
</head>
<nav th:replace="partials/navbar :: navbar"></nav>
<body>

    <h1 style="font-size: 50px; color:white;font-family: Archivo Black;" class="text-center">Team Omelette</h1>
<section style="display: inline-flex; justify-content: center" class="container-fluid text-center">
    <div style="width: 30%;justify-self: left; margin: 0 5px;">

            <img src="/css/img/alexheadshot.jpeg" alt="Alex" style="position: relative; width:50%" class="img-circle"/>
            <div style="margin-top: 25px; padding:10px; background-color: #D5EBFB; border-radius: 5px; height:305px;">
                <h3>Alexander Bous</h3>
                <p class="lead">As an Ex-Chef, I have found that to become a chef or a developer, one must practice basic to expert skills while producing a unique & quality product in an efficient time line.</p>
                <p><a href="mailto:AlexMBous@gmail.com"><i class="fa fa-envelope fa-md icon"></i> AlexMBous@gmail.com</a></p>
                <p><a href="https://linkedin.com/in/alex-bous"><i class="fab fa-linkedin"></i> Alexander-Bous</a></p>
                <p><a href="https://github.com/alexmbous"><i class="fab fa-github"></i> Alexander-Bous</a></p>
            </div>
    </div>
    <div style="width: 30%;justify-self: left; margin: 0 5px;  ">

        <img src="/css/img/chrisallenheadshot.jpeg" alt="Chris" style="position: relative; width:50%" class="img-circle"/>
        <div style=" margin-top: 25px; padding:10px; background-color: #D5EBFB; border-radius: 5px; height:305px;">
            <h3>Christopher Allen</h3>
            <p class="lead">A full stack software developer with proficiency in Java, Javascript, MySQL, HTML and CSS. I enjoy writing code as much as I do writing music. </p>
            <p><a href="mailto:ChrisHughAllen@gmail.com"><i class="fa fa-envelope fa-md icon"></i> ChrishughAllen@gmail.com</a></p>
            <p><a href="https://linkedin.com/in/chrishughallen/"><i class="fab fa-linkedin"></i> Christopher-Allen</a></p>
            <p><a href="https://github.com/chrishughallen"><i class="fab fa-github"></i> Christopher-Allen</a></p>
        </div>
    </div>
    <div style="width: 30%;justify-self: left; margin: 0 5px;">

        <img src="/css/img/benrasheadshot.jpeg" alt="Ben" style="position: relative; width:50%" class="img-circle"/>
        <div style="margin-top: 25px; padding:10px; background-color: #D5EBFB; border-radius: 5px; height:305px;">
            <h3>Benjamin Rasmussen</h3>

            <p class="lead">What I love most about software and web development is the ability to create something that will delight the user. Creating aesthetically pleasing UX/UI while writing strong sustainable code is something I have a passion for. This is fueled by my deep curiosity for new digital technology.</p>
            <p><a href="mailto:benrasmussen11@gmail.com"><i class="fa fa-envelope fa-md icon"></i> benrasmussen11@gmail.com</a></p>
            <p><a href="https://linkedin.com/in/ben-rasmussen"><i class="fab fa-linkedin"></i> Benjamin-Rasmussen</a></p>
            <p><a href="https://github.com/benrasmussen"><i class="fab fa-github"></i> Benjamin-Rasmussen</a></p>

        </div>
    </div>
</section>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>