<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('About Us')">
</head>
<nav th:replace="partials/navbar :: navbar"></nav>
<body>

<div>
    <h1>Who We Are</h1>
</div>
<section style="display: flex; justify-content: center">
    <div class="container">
                <div style="width: 30%;" >
                    <div class="card-4">
                        <img src="/css/img/OmLogo.png" alt="Alex" style="width:30%"/>
                        <div class="container">
                            <h3>Alexander Bous</h3>
                            <div style="width: 30%; padding:10px; background-color: #D5EBFB; border-radius: 15px; height:115px;">
                            <p class="opacity">CEO &amp; Founder</p>
                            <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                            <p><a href="mailto:AlexMBous@gmail.com">AlexMBous@gmail.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 30%;">
                    <div class="card-4">
                        <img src="/css/img/OmLogo.png" alt="Chris" style="width:30%"/>
                        <div class="container">
                            <h3>Christopher Allen</h3>
                            <div style="width: 30%; padding:10px; background-color: #D5EBFB; border-radius: 15px; height:115px;">
                            <p class="opacity">CO-FOUNDER</p>
                            <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                            <p><a href="mailto:chrishughallen@gmail.com">ChrisHughAllen@gmail.com</a></p>
                        </div>
                        </div>
                    </div>
                </div>

                <div style="width: 30%; ">
                    <div class="card-4">
                        <img src="/css/img/OmLogo.png" alt="Ben" style="width:30%; border-radius: 50%"/>
                        <div class="container">
                            <h3>Benjamin Rasmessan</h3>
                            <div style="width: 30%; padding:10px; background-color: #D5EBFB; border-radius: 15px; height:115px;">
                            <p class="opacity">CO-FOUNDER</p>
                            <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                            <p><a href="mailto:benrasmussen11@gmail.com">benrasmussen11@gmail.com</a></p>

                            </div>
                        </div>
                    </div>
                </div>
    </div>
</section>
</body>
</html>