<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Home')">
</head>
<nav th:replace="partials/navbar :: navbar"></nav>
<body>
<div class="row-padding container" id="about">
    <div class="center padding-64">
        <span class="xlarge bottombar border-dark-grey padding-16">Who We Are</span>
    </div>

    <div class="third margin-bottom">
        <div class="card-4">
            <img src="/css/img/OmLogo.png" alt="Alex" style="width:10%"/>
            <div class="container">
                <h3>Alexander Bous</h3>
                <p class="opacity">CEO &amp; Founder</p>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                <p><a href="mailto:AlexMBous@gmail.com">AlexMBous@gmail.com</a></p>
            </div>
        </div>
    </div>

    <div class="third margin-bottom">
        <div class="card-4">
            <img src="/css/img/OmLogo.png" alt="Chris" style="width:10%"/>
            <div class="container">
                <h3>Christopher Allen</h3>
                <p class="opacity">Title</p>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                <p><a href="mailto:@gmail.com">@gmail.com</a></p>
            </div>
        </div>
    </div>

    <div class="third margin-bottom">
        <div class="card-4">
            <img src="/css/img/OmLogo.png" alt="Ben" style="width:10%"/>
            <div class="container">
                <h3>Benjamin Rasmessan</h3>
                <p class="opacity">Title</p>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                <p><a href="mailto:@gmail.com">@gmail.com</a></p>
            </div>
        </div>
    </div>
</div>

</body>
</html>