<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Omelette Home')">
</head>
<body>
<div class="text-center">
    <img style="position: relative; justify-content: center; width:25%" class="OmLogo" src="broken.png" alt="omelete Logo" />
    <h1>Uh oh, Something went wrong! </h1>
<h2>Not to worry, Team Omelette is on it.</h2>
<a href="/"><button class="btn btn-success">Go Home</button></a>
</div>

<footer th:replace="partials/footer :: footer"></footer>

</body>
</html>