<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header(history)">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="container">
<h1 class="text-center">You are currently logged in!</h1>


<form action="/createprofile">

    <button class="btn btn-primary form-control">Create profile</button>

</form>

<br />

<form action="/profile">
    <button class="btn btn-primary form-control">View profile</button>
</form>

<br />

<form th:action="@{/logout}" th:method="post">
    <button class="btn btn-primary form-control">Logout</button>
</form>

</div>
</body>
</html>