<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Home')">

</head>
<body>

<nav th:replace="partials/navbar :: navbar"></nav>


    <div class="landingPage">
        <div class="container text-center">
                <img style="width:20%" class="OmLogo" src="css/img/OmLogo.png" alt="omelete Logo" />
            <div class="textBody">
                <div class="jumbotron">
                    <h3>Welcome to Omelette</h3>
                    <!--with the help of a visual/digital resume. Called Omelet based around the classic interview question for cooks where Chefs will ask potential hires to cook them an omelet. This allows the Chef to see how the potential hire gets/builds their mis en place(working tools, ingredients, and overall necessities to complete the task.), keeps their work area clean, executes the command, and general quality of the finished product.-->
                    <h5>Omelette was designed to help cooks build a portfolio of abilities, and allow restaurants to find good employees faster. </h5>

                <!--<h3>Why Omelette?</h3>-->
                <!--<h5>Why have someone tell you they can do something when they can show you they can do it.</h5>-->
                <!--<h4>The Hiring Process:</h4>-->
                    <!--<h5>Chefs, Restaurant Owners, and Restaurant Managers time is very valuable and unfortunately, hiring is a very lengthy and expensive process. Expensive based on the cost to post and maintain ads on various avenues (ie CraigsList, ZipRecruiter, Poached, etc), but more importantly, it is expensive because the managers time is worth a lot of money. To waste days and weeks on posting, reviewing resumes, phone interviewing, in person interviewing, and finally deciding on a hire that has a +60% chance of not working out longer than the honeymoon stage of 4 months, is simply inefficient.</h5>-->

                    <!--<h4>Ugly Resumes:</h4>-->
                    <!--<h5>Most cooks and hospitality employees arn’t taught how to build a resume. It is unfortunate that potential employees might be written off based on the quality and design of their resume. I don’t even want to think about how many amazing potential employees that I had not given the time of day based on a poorly made resume and the fact that I had to review over 100 resumes while doing my job. </h5>-->

                    <div th:if="!${loggedIn}">
    <a href="/rest/signup"><button class="btn btn-primary">Find a Chef</button></a>

    <a href="/chef/signup"><button class="btn btn-primary">Find a Job</button></a>

                    </div>

                    <div th:if="${loggedIn}">
                        <a href="/profile"><button class="btn btn-primary">My Profile</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>