<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Our Recipe')">
</head>
<nav th:replace="partials/navbar :: navbar"></nav>
<body>

<h1 style="font-size: 50px; color:white;font-family: Archivo Black;" class="text-center">The Omelette Recipe</h1>

<section class="container text-center">

        <div style="display: flex" class="row">
            <div class=" column col-md-12 col-sm-12">
                <img src="/css/img/ourRecipe/ourRecipe2.png" alt=""  class="ourRecipeImg"/>
                <div class="insideOurRecipeTile">
                    <h3>Git</h3>
                    <p class="lead">Github and IntelliJ.</p>
                </div>
            </div>
        </div>
    <hr/>
        <div style="display: flex" class="row">
            <div class=" column col-md-12 col-sm-12">
                <img src="/css/img/ourRecipe/ourRecipe1.png" alt=""  class="ourRecipeImg"/>
                <div class="insideOurRecipeTile">
                    <h3>Trello</h3>
                    <p class="lead">organized our project with Trello.</p>
                </div>
            </div>
        </div>
    <hr/>
        <div style="display: flex" class="row">
            <div class=" column col-md-12 col-sm-12">
                <img src="/css/img/ourRecipe/ourRecipe3.png" alt=""  class="ourRecipeImg"/>
                <div class="insideOurRecipeTile">
                    <h3>DigitalOcean</h3>
                    <p class="lead">Deployment and management of the production server with DigitalOcean.</p>
                </div>
            </div>
        </div>
    <hr/>
        <div style="display: flex" class="row">
            <div class=" column col-md-12 col-sm-12">
                <img src="/css/img/ourRecipe/ourRecipe4.png" alt=""  class="ourRecipeImg"/>
                <div class="insideOurRecipeTile">
                    <h3>Styling</h3>
                    <p class="lead">Here is the Color palate we decided on using Coolors.co.</p>
                </div>
            </div>
        </div>
    <hr/>
        <div style="display: flex" class="row">
            <div class=" column col-md-12 col-sm-12">
                <img src="/css/img/ourRecipe/whiteBoardConcept.jpg" alt=""  class="ourRecipeImg"/>
                <div class="insideOurRecipeTile">
                    <h3>WhiteBoard of Concept</h3>
                    <p class="lead">The very beginning pitch</p>
                </div>
            </div>
        </div>
    <hr/>
        <div style="display: flex" class="row">
            <div class=" column col-md-12 col-sm-12">
                <img src="/css/img/ourRecipe/whiteboardProfile.jpg" alt=""  class="ourRecipeImg"/>
                <div class="insideOurRecipeTile">
                    <h3>WhiteBoard Concept of Profile Views</h3>
                    <p class="lead">Original design of the profile view.</p>
                </div>
            </div>
        </div>
    <br/>
    <br/>
    <div>
        Copyright © 2018 - Team Omelette
    </div>
    <br/>
    <br/>
    <br/>
</section>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>