<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Job List Search Results')">
    <meta charset="UTF-8"/>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<h1 class="text-center">Your search results</h1>
<div class="container-fluid">


    <form href="/search">
        <input type="text" class="form-control" id="search_input" placeholder="Search...">
        <button class="btn btn-default" type="button"/>

    </form>




</div>

</body>
</html>