<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Chef Profile')">
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<section class="viewAllBody">
<div style="display: flex" class="container"><img class="OmLogo viewAllLogo" src="css/img/OmLogo.png" alt="Omelette Logo" /><h1 class="viewAllTitle"> Viewing All Chefs</h1></div>
<div id="viewAllBackground" class="text-center">

    <div  style="display: flex" class="container">

        <section id="viewAllChefsLoop" class="rowAll">
            <div th:each="chef : ${chefs}">

                <div class="column col-md-3 rest-jobs-view" id="viewAllTiles">

                    <div>
                        <div>
                            <img class="listPictureProfileChef" th:src="${chef.picture}" alt="" />
                        </div>
                        <div>
                            <h3><span th:text="${chef.firstName}"></span> <span th:text="${chef.lastName}"></span></h3>
                        </div>

                        <div class="viewJobButtonAllJobs">
                            <a th:href="@{/chefs/{id}(id=${chef.id})}">
                                <button style="background-color: #DE9E36" class="btn btn-default">View Chef</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </section>

    </div>
</div>

</section>

<footer th:replace="partials/footer :: footer"></footer>

</body>
</html>