<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Chef Profile')">
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="text-center">
<div class="container">
<h1>Viewing Chefs</h1>
<div th:each="chef : ${chefs}">
    <a th:href="@{/chefs/{id}(id=${chef.id})}">
    <div class="jobPost">
<h3><span th:text="${chef.firstName}"></span> <span th:text="${chef.last_name}"></span></h3>
        <img class="listPicture" th:src="${chef.picture}" alt="" />
        <br />
    </div>
    </a>
    </div>
    <br />
</div>
</div>
</body>
</html>