<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Chef Profile')">
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="text-center">
<h1><span th:text="${chef.first_name}"></span> <span th:text="${chef.last_name}"></span></h1>
    <img class="profilePicture" th:src="${chef.picture}" alt="" />
    <h4><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> <span th:text="${chef.phone}"></span></h4>

    <h3 th:text="${user.email}"></h3>

    <p><span th:text="${chef.bio}"></span></p>
    <br />

    <div class="jobPost">
    <h2><u>Previous Experience</u></h2>

    <div th:each="job : ${jobs}">

        <h4 th:text="${job.title + ' at ' + job.location}"></h4>
        <h5 th:text="${job.start_date + ' to ' + job.end_date}"></h5>
        <p>Reason for leaving</p>
        <p th:text="${job.reason_left}" />

        <hr />
    </div>
    </div>

    <br />

    <div th:if="${hasEducation}" class="jobPost">

    <h2><u>Education</u></h2>

    <div th:each="ed : ${education}">
        <p><span th:text="${ed.name}"></span></p>
        <p><span th:text="${ed.focus}"></span> </p>
        <p>Graduation date: <span th:text="${ed.graduationDate}"></span></p>
        <hr />
    </div>
    </div>

    <br />

    <div class="jobPost">
    <h2><u>Skills</u></h2>

    <ul>
        <div th:each="skill : ${skills}">
            <p th:text="${skill.name}"></p>
        </div>
    </ul>
    </div>

    <br />


    <div class="jobPost">
    <video class="profileVideo" th:src="${chef.video}" th:controls="show"  >
    </video>
    </div>
</div>


<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>