<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Chef Profile')">
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>



<div class="container">
    <div class="aboutChef">
        <div class="row">
            <div class="col-xs-4">
                <img class="chefProfilePic" th:src="${chef.picture}" />
            </div>
            <div  class="col-xs-8 profileName">
                <h1 style="color:#2E4057"><span th:text="${chef.firstName}"></span> <span th:text="${chef.lastName}"></span></h1>
                <h3 style="font-family: 'Istok Web', sans-serif; color:#2E4057;" th:text="${chef.bio}"></h3>
                <a th:if="!${chefOwns}"  th:href="'mailto:' + ${user.email} + '?Subject=Interest Via Omelette'"><button class="btn btn-warning istok"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Contact</button></a>
                <a th:if="${chefOwns}" href="/profile"><button class="btn btn-warning istok">Edit profile</button></a>
            </div>
        </div>
    </div>
    <div class="viewChefProfile">
        <div class="row">
            <div class="col-xs-12">
                <div th:if="${hasJobs}">
                    <div class="text-center">
                        <h2 style="color:#D69F4B;" class="profileName">Previous Experience</h2>
                        <div th:each="job : ${jobs}" class="text-center">
                            <div class="col-xs-12">
                            <h4 style="font-family:Istok Web; color:white;"  th:text="${job.title + ' at ' + job.location + ' from ' + job.startDate + ' to ' + job.endDate}"></h4>
                            <h5 style="font-family:Istok Web; color:white;">Reason for leaving: <span th:text="${job.reasonLeft}"></span></h5>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div  th:if="${hasEdu}">
                    <div class="text-center">
                        <hr/>
                        <h2 style="color:#D69F4B;" class="profileName">Education</h2>
                        <div th:each="ed : ${education}">
                            <div class="col-xs-12">
                            <h4 style="font-family:Istok Web; color:white;" th:text="${ed.name + ' ' + ed.graduationDate + ' - ' + ed.focus}"></h4>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div th:if="${hasSkills}">
                    <div class="text-center">
                        <hr />
                        <h2 style="color:#D69F4B;" class="profileName">Skills</h2>
                         <h4 style="font-family:Istok Web; color:white;">
                                <span th:each="skill : ${skills}">
                                    <span th:text="${'-' + skill.name + ' '}"></span>
                                </span>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <div th:if="${hasVideo}">
                    <hr/>
                    <h2 style="color:#D69F4B;" class="profileName">Featured Video</h2>

                            <video class="profileVideo" th:src="${chef.video}" th:controls="show"></video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>